{% extends 'base.html.twig' %}

{% block title %}RendezVous index
{% endblock %}

{% block body %}
	<h1>RendezVous index</h1>

	{% include 'includes/_flashes.html.twig' %}

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Date_rdv</th>
				<th>Name</th>
				<th>Status</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for rendez_vous in rendez_vous %}
				<tr>
					<td>{{ rendez_vous.id }}</td>
					<td>{{ rendez_vous.dateRdv ? rendez_vous.dateRdv|date('Y-m-d') : '' }}</td>
					<td>{{ rendez_vous.name }}</td>
					<td>{{ rendez_vous.status }}</td>
					<td>
						{% if rendez_vous.status == "réservé" %}
							<a href="{{ path('app_rendez_vous_show', {'id': rendez_vous.id}) }}">show</a>
							<a href="{{ path('app_rendez_vous_edit', {'id': rendez_vous.id}) }}">edit</a>
							<a href="{{ path('app_validation_rendez_vous', {'id': rendez_vous.id}) }}">validate</a>

						{% else %}
							<a href="{{ path('app_rendez_vous_show', {'id': rendez_vous.id}) }}">show</a>
							<a href="{{ path('app_rendez_vous_edit', {'id': rendez_vous.id}) }}">edit</a>
						{% endif %}
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="5">no records found</td>
	</tr>
{% endfor %}</tbody></table><a href="{{ path('app_rendez_vous_new') }}">Create new</a>{% endblock %}
